*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
h1{
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
    overflow: hidden;

}